@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans/GeneralSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "General Sans", sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.scrollbar-hidden,
html.scrollbar-hidden,
body.scrollbar-hidden {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.scrollbar-hidden::-webkit-scrollbar,
html.scrollbar-hidden::-webkit-scrollbar,
body.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
